<div th:fragment="header" >
    <header class="site-header sticky-top py-1 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" >
        <nav class="navbar fixed-top navbar-expand-xl bg-body-tertiary " >
            <div class="container-fluid" >
                <a class="navbar-brand">PINK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная страница</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Меню</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/dish">Блюда</a></li>
                                <li><a class="dropdown-item" href="/drink">Напитки</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/author">Об авторе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorized && isAdmin}" href="/waiter">Staff</a>
                        </li>
                    </ul>
                    <div class="col-md-3 text-end">
                        <a th:if="${authorized && isAdmin}">Админㅤ</a>
                        <a th:if="${authorized && !isAdmin}">Пользовательㅤ</a>
                        <a type="button" class="btn btn-outline-success me-2" th:href="@{/login}" th:if="${!authorized}">
                            Войти
                        </a>
                        <a type="button" class="btn btn-outline-success me-2" th:href="@{/registration}" th:if="${!authorized}">
                            Зарегистрироваться
                        </a>

                        <a type="button" class="btn btn-outline-success me-2" th:href="@{/logout}" th:if="${authorized}">Выйти</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>





